.profile_screen{
    height: 100vh;
    color: #fff;
}
.profile_screen_body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 8%;
    max-width: 800px;
}
.profile_screen_info{
    display: flex;
}
.profile_screen_info > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profile_screen_info > img{
    height: 108px;
}
.profile_screen_details{
    color: #fff;
    margin-left: 25px;
    flex: 1;
}
.profile_screen_details > h2{
    background-color: gray;
    padding: 15px;
    font-size:15px;
    padding-left: 20px;
}
.profile_screen_plans{
    margin-top: 20px;
}
.profile_screen_signout{
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border : none;
    cursor: pointer;
}