.login_screen{
    position: relative;
    height: 100%;
    background: url("https://external-preview.redd.it/B6MrrY-dyD1lnvvrb2BCISx1xQwGx-e7pjm-qeXwAkE.jpg?auto=webp&s=ade83a5a759042ffed5324e5172c9a59a27aaaa9") no-repeat center;
}
.background_gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background:rgba(0,0,0,.4);
    background-image: linear-gradient(to top ,rgba(0,0,0,.5)0,rgba(0,0,0,.01)50%,rgba(0,0,0,.5)100%)
}
.login_screen_button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color:#e50914;
    cursor: pointer;
    border: none;
    font-weight: 600;    
    border-radius: 5px;
}
.login_screen_logo{
    position: fixed;
    left: 0;
    top: 20px;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
.login_screen_body{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.login_screen_body > h1{
    font-size : 3.125rem;
}
.login_screen_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login_screen_body > h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.email_input_container{
    margin: 20px;
}
.email_input_container > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.log_screen_button{
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 20px 18px;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
    
}
